/* Tab Trang chủ */
.tab_home{
    display: flex;
    flex-direction: row;
}
.userinfo{
    background-color: white;
    width: 33%;
    height: 350px;
    margin-right: 1%;
    border: 1px solid rgb(227, 236, 240);
    display: flex;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
}
.userinfo img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 5px;
}
.userinfo hr{
    margin: 20px 0 20px 0;
}
.info{
    display: flex;
    flex-direction: row;
}
.info-list {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.info-list h4{
    color: rgb(255, 149, 0);
    margin: 5px 0 5px 0;
}
.info-list p{
    font-size: 12px;
}
.info2-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.info2 a{
    color: rgb(122, 122, 122);
    text-decoration: none;
    margin-left: 7px;
    text-align: center;
}
.info2 a:hover{
    color: rgb(255, 0, 0);
}
.userhistory{
    background-color: white;
    width: 66%;
    border: 1px solid rgb(227, 236, 240);
    padding: 15px 15px 15px 20px;
    display: flex;
    flex-direction: column;
}
.history-all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(227, 236, 240);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.history-all a{
    text-decoration: none;
    color:aqua;
}
.history-all a:hover{
    color: aqua;
    text-decoration: underline;
}
table{
    border: 1px solid rgb(227, 236, 240) ;
}
thead {
    background-color:rgb(246, 248, 248);
}
th {
    width: 25%;
    height: 30px;
    border-bottom: 1px solid rgb(227, 236, 240);
    color:rgb(122, 122, 122);
    font-weight: 100;
    font-size: 13px;
}
td {
    text-align: center;
    height: 45px;
    font-weight: 100;
    font-size: 12px;
    color:rgb(122, 122, 122);
}



